@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import "tailwindcss";
@plugin "daisyui";


@custom-variant dark (&:where(.dark, .dark *));
@theme {
    --color-scheme: light dark;
    --font-montserrat: "Montserrat", sans-serif;
}

@media (prefers-color-scheme: dark) {
    :root:not(.light) {
        color-scheme: dark;
    }
}

.dark {
    color-scheme: dark;
}

.light {
    color-scheme: light;
}

.dark,
:root:has(.dark) {
}