@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import "tailwindcss";
@plugin "daisyui";

@theme {
    --font-montserrat: "Montserrat", sans-serif;
}